# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.env
venv/
env/
.venv/
.env/

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage

# MyPy
.mypy_cache/

# Pipenv
Pipfile.lock

# Local config
*.local
.vercel
